.one
{
    color:brown;
    background-color: rgb(230, 89, 243);
}
.second
{
    color:black;
    background-color: rgb(255, 0, 230);
}
h1{
    font-family:serif;
    text-decoration:underline;
    color:darkgreen;
    text-transform: uppercase;
    text-align: center;
   
}
div p{
color: rgb(142, 127, 255);
}
 .frist{
    font-size: medium;
    border-color: aqua;
    color: blue;
    text-align:justify;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:darkgray ;
}
.Second{
    border-style: groove;
    border-color: aqua;
    font-size: medium;
    color: blueviolet;
    text-align:justify;
    border-width: 10px;
    border-radius: 10px;
      margin-left: 20px;
    margin-right: 20px;
    background-color: chartreuse;
}
.third{
    border-style: double;
    border-color: aqua;
    background-color: cadetblue;
    font-size: medium;
    color: brown;
    text-align:justify;
    border-width: 10px;
    border-radius: 10px;
      margin-left: 20px;
    margin-right: 20px;
}
.whole{
    border-style:dashed;
    border-color: blueviolet;
    background-color: rgb(255, 254, 196);
    margin-bottom: 100px;
    margin-top: 50px;
    
   
}

a:link {
            color: blue;
            text-decoration: none;
        }

  
        a:visited {
            color: purple;
        }
       
        a:hover {
            color: red;
            text-decoration: underline;
        }
        
        a:active {
            color: green;
        }